{% extends "base.html" %}
{% block heading %}
    <title>{{title}}</title>
{% endblock heading %}
{% block content %}
<div class="w3l-grids-3 py-5">
    <div class="container py-lg-5 py-md-4" >
        <h3 class="hny-title mb-lg-5 mb-4">{{heading}}</h3>
        <form action="/trainresult/" method="POST" class="form" style="margin-bottom: 10px">
            {% csrf_token %}
            <div class="flex-wrap subscribe-wthree-field" style="padding-bottom: 300px" id="mybody">
                <input type="text" name="path" class="form-control" placeholder="Input path location" aria-label="Masukkan path" aria-describedby="basic-addon2" required="">
                <button class="btn btn-style btn-secondary mt-4" type="submit" onclick="myFunction()" value="submit">Train</button>
            </div>
        </form>    
    </div>
</div>
{% block js %}
<script>
    function myFunction() {
        var element = document.getElementById("mybody");
           element.classList.add("fadeMe");
        }
</script>
{% endblock js%}
{% endblock content %}