{% extends "base.html" %}
{% block heading %}
    <title>{{title}}</title>
{% endblock heading %}
{% block content %}
    {% comment %} <h1>Halaman {{heading}}</h1> {% endcomment %}

    <div class="container-fluid" style="margin-top:150px">
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <form action="/trainresult/" method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" name="path" class="form-control" placeholder="Masukkan path" aria-label="Masukkan path" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="submit" onclick="myFunction()" value="submit">Train</button>
                        </div>
                      </div>
                    {% comment %} <div class="row">
                        
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="path" placeholder="Masukkan Path Folder Data">
                        </div>
                        <div class="col-md-3">
                            <button type="submit" onclick="myFunction()" class="btn btn-dark" value="submit">Train</button>
                        </div>
                
                    </div> {% endcomment %}
                </form>
                <!---->
            </div>
            <div class="col">
            </div>
        </div>
    </div>
    {% block js %}
    <script>
        function myFunction() {
           var element = document.getElementById("mybody");
           element.classList.add("fadeMe");
        }
    </script>
    {% endblock js%}
    
{% endblock content %}