{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>{{title}}</title>
{% endblock title %}
{% block heading %} 
<section class="w3l-grids-3 py-5" id="about">
    <div class="container py-md-5">
      <div class="row bottom-ab-grids align-items-center">
        <div class="col-lg-6 bottom-ab-left pr-lg-5">
          {% comment %} <h6 class="sub-title">About Us</h6> {% endcomment %}
          <h3 class="hny-title">
             Klasifikasi Padi Menggunakan Metode Linear Discriminant Analysis</h3>
          <p class="my-3 pr-lg-4">Sistem klasifikasi padi ini merupakan alat bantu untuk mendeteksi kematangan bagi petani ataupun awam</p>
          <a href="/testing" class="btn btn-style btn-secondary mt-4">Start</a>
        </div>
        <div class="col-lg-6 bottom-ab-right mt-lg-0 mt-5">
          <img src="{% static 'assets/img/rice.png' %}" class="img-curve-sm" width="400px" alt="" />
        </div>
      </div>
    </div>
  </section>
{% endblock heading %}
{% block content %}
{% endblock content %}